
namespace player{

    int width = 72
    int height = 144
    int score = !1 + 100 + 39.9
    float total = ! 0.1 + 1 * 3 - 2.455
    float jump_acceleration = 0.5
    float gravity =  0.9
    float move_acceleration = 0.8

    namespace animation {
        int test = 1
        int test2 = 3

        namespace animation_x{
            int test2 = 1
            int test5 = !3 - 3 + 1
            namespace test_namespace{}
        }
    }


}


#tttttttttttttttttesttest

namespace animations_idle{
    int width = 72
    int height = 144

    struct hitbox =  {.x:1, .y:0, .w:7, .h:1}
    struct datax = { .name:"morad", .score:10, .kills:20}

    string path = "./sprite/X/X02_Idle/"
    float tweening = 0.74
    int total_frames = 72
    list files = string [
        "frame_000.png", "frame_001.png", "frame_002.png", "frame_003.png", "frame_004.png", "frame_005.png", "frame_006.png", "frame_007.png",
        "frame_008.png", "frame_009.png", "frame_010.png", "frame_011.png", "frame_012.png", "frame_013.png", "frame_014.png", "frame_015.png",
        "frame_016.png", "frame_017.png", "frame_018.png", "frame_019.png", "frame_020.png", "frame_021.png", "frame_022.png", "frame_023.png",
        "frame_024.png", "frame_025.png", "frame_026.png", "frame_027.png", "frame_028.png", "frame_029.png", "frame_030.png", "frame_031.png",
        "frame_032.png", "frame_033.png", "frame_034.png", "frame_035.png", "frame_036.png", "frame_037.png", "frame_038.png", "frame_039.png",
        "frame_040.png", "frame_041.png", "frame_042.png", "frame_043.png", "frame_044.png", "frame_045.png", "frame_046.png", "frame_047.png",
        "frame_048.png", "frame_049.png", "frame_050.png", "frame_051.png", "frame_052.png", "frame_053.png", "frame_054.png", "frame_055.png",
        "frame_056.png", "frame_057.png", "frame_058.png", "frame_059.png", "frame_060.png", "frame_061.png", "frame_062.png", "frame_063.png",
        "frame_064.png", "frame_065.png", "frame_066.png", "frame_067.png", "frame_068.png", "frame_069.png", "frame_070.png", "frame_071.png"]
}

namespace tile{
    int width = 16
    int height = 16
}

namespace grass_sheet{
    string path  = './assets/tiles/'
    string filename = "grass_sheet.png"
    int width = 16
    int height = 16
    int id = 10
    int tiles_count = 10
}

namespace windows{
    string title = "windows title"

}

#another comment
namespace screen{
	int width = 800
	int height = 600
}



namespace map{
    int width = 4800
    int height = 4800
    int columns = 30
    int rows = 30
}

# more comments

namespace map_2 {
    int width = 1600
    int height = 1600
    int columns = 10
    int rows = 10
    list data = int [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                        0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                        0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                        0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                        0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                        0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                        0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                        0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                        0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                        0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

    list listdata = list [
        int [ 0, 0, 0],
        string ['test', 'test2'],
        struct [ {.x:1, .y:2}, {.x:3, .y:4} ],
        list [
            int [ 0, 0, 0],
            string [ 'test', 'test']
        ]
    ]
}