namespace window {
    int width = -1280;
    int height = 720;
    string title = "Game to play " + "yes please" + ' this is a test ' * 3;
    namespace camera {
        int x = 100 + 20;
        int y = 0;

    }
}



namespace player {
    int x = 0;
    int y = 0;
    float test = .2 + -.5 -- 1;
    int radius = 0;
    struct color = {.r:0, .g:0, .b:255 }
    struct data = { .info:'data', .total:1000}
    namespace stats {
        int max_health = 100;
        int attack = 10;
        float attack_speed = 1.0;
    }

    namespace animations{
        namespace idle {
            string path = ".resources/animations/idle/";
            list files = string [
                "frame_000.png", "frame_001.png", "frame_002.png",
                "frame_003.png", "frame_004.png", "frame_005.png"
            ]
            int frames = 6;
            float tweening = 1.2;
        }
        namespace moving_animation{
            string id = 'moving_animation';
            string path = './moving_animation';
            namespace left{
                string id = "left";
                float tweening = 1.4;
                int frames = 5;
                list files = string [
                    "frame_000.png", "frame_001.png", "frame_002.png", "frame_003.png", "frame_004.png"
                ]
                struct hitbox = {.x:0, .y:0, .w:16, .h:16}
                int width = 16;
                int height = 16;
            }
            namespace right{
                string id = "right";
                float tweening = 1.4;
                int frames = 5;
                list files = string [
                    "frame_000.png", "frame_001.png", "frame_002.png", "frame_003.png", "frame_004.png"
                ]
                struct hitbox = {.x:0, .y:0, .w:16, .h:16}
                int width = 16;
                int height = 16;
            }
        }

    }
}

namespace scene{
    namespace intro {
        namespace map{
            namespace background{
                string filename = "background.png";
                string scrolling = 'True';

            }
            namespace ground_tiles {
                string path = "./assets/tiles/"
                string filename = "ground_tiles.png";
                int columns = 10;
                int rows = 0;
                list ids = int [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                int width = 16;
                int height =  16 ;

            }
            list layer1 = int [ 0,0,0,0,0,0,0,0,0,0,
                            0,0,0,0,0,0,0,0,0,0]
            list layer2 = int [ 0,0,0,0,0,0,0,0,0,0,
                            0,0,0,0,0,0,0,0,0,0]

            int width = 120;
            int height = 115;
            int pixle_width = 120 * 16;
            int pixle_height = 115 * 16;

            struct start_point = {.x:100, .y:50}
        }
    }
}